# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\dario\Documents\GitHub\pr16-arrayblockingqueue-CabesaDario\ConcurrentLinkedQueue\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
